<%- include('partials/publicHeader') %>
<link rel="stylesheet" href="/styles/user.css">
<%- include('partials/head-body') %>
<%- include('partials/publicNav') %>

    <h1>About</h1>
<%- include('partials/navFooter') %>
<%- include('partials/publicFooter') %>