<%- include('partials/publicHeader') %>
<link rel="stylesheet" href="/styles/user.css">
<%- include('partials/head-body') %>
<%- include('partials/publicNav') %>

    <div class="container">
        <div class="row justify-content-center text-center m-5">
            <div class="col-10">
                <img src="/images/Kaily-IMG.png" alt="Kaily" id="kaily-about">
            </div>
        </div>
        <div class="row justify-content-center m-5">
            <div class="col-10">
                <p class="text-center">The best way to contact is send a DM on <span><a href="https://www.instagram.com/unsivilizedtravels/" target="_blank" class="individual-blog-links">Instagram</a></span></p>
            </div>
        </div>
        <div class="row justify-content-center text-center m-5">
            <div class="col-10">
               <H1><p>Kaily Sivils</p></H1>
            </div>
        </div>
        <div class="row justify-content-center m-5">
            <div class="col-10">
               <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, placeat necessitatibus? Unde sed laudantium, exercitationem nihil expedita, laboriosam facere mollitia autem doloribus minima nobis maxime excepturi dolores officiis asperiores inventore.</p>
            </div>
        </div>
        <div class="row justify-content-center m-5">
            <div class="col-10">
               <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, placeat necessitatibus? Unde sed laudantium, exercitationem nihil expedita, laboriosam facere mollitia autem doloribus minima nobis maxime excepturi dolores officiis asperiores inventore.</p>
            </div>
        </div>
        <div class="row justify-content-center m-5">
            <div class="col-10">
               <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, placeat necessitatibus? Unde sed laudantium, exercitationem nihil expedita, laboriosam facere mollitia autem doloribus minima nobis maxime excepturi dolores officiis asperiores inventore.</p>
            </div>
        </div>
    </div>
<%- include('partials/navFooter') %>
<%- include('partials/publicFooter') %>