<%- include('partials/publicHeader') %>
<%- include('partials/publicNav') %>
<link rel="stylesheet" href="/styles/user.css">
<%- include('partials/head-body') %>

    

    <h1>Proffesional Customer Service</h1>
    <img src="/images/IMG_3490.jpeg" alt="" width="500px" height="600px">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorem laboriosam dolores dolor corrupti veniam incidunt tenetur eligendi laudantium autem fuga quae voluptas, quidem suscipit sed obcaecati, officia, qui expedita.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorem laboriosam dolores dolor corrupti veniam incidunt tenetur eligendi laudantium autem fuga quae voluptas, quidem suscipit sed obcaecati, officia, qui expedita.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorem laboriosam dolores dolor corrupti veniam incidunt tenetur eligendi laudantium autem fuga quae voluptas, quidem suscipit sed obcaecati, officia, qui expedita.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorem laboriosam dolores dolor corrupti veniam incidunt tenetur eligendi laudantium autem fuga quae voluptas, quidem suscipit sed obcaecati, officia, qui expedita.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorem laboriosam dolores dolor corrupti veniam incidunt tenetur eligendi laudantium autem fuga quae voluptas, quidem suscipit sed obcaecati, officia, qui expedita.</p>
    
  
<%- include('partials/navFooter') %>
<%- include('partials/publicFooter') %>