<%- include('partials/publicHeader') %>
<%- include('partials/publicNav') %>
<link rel="stylesheet" href="/styles/user.css">
<%- include('partials/head-body') %>

    <section>
        <div class="container-fluid p-0 m-0" id="home-container">
            <div class="row p-0 m-0">
                <div class="col-12 p-0 m-0">
                    <img class="img-fluid w-100" id="kialy-img" src="/images/Final-home.png" alt="">
                </div>
            </div>
        </div>
    </section>
    
    
    <h1 class="text-bold m-5 px-5" id="home-recent-blogs">Most Recent Blogs</h1>
     <% data.forEach(entry => { %>
                <% let imgs   = [] %>
                <% imgs = entry.images.split(', ') %>
                <% for(let i = 0; i < 1; i++){ %>
        <section class="m-5 mb-5">
        <div class="container mt-5 mb-5 g-1">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-sm-11 col-md-11 text-md-center text-lg-end">
                   <img class="img img-fluid" id="imaging" src="<%= imgs[i] %>" alt="" height="400px" width="500px">
                </div>    
                    <div class="col-lg-6 col-sm-11 col-md-7 text-md-start text-lg-start ml-0 p-0" id="entry">
                        <ul class="list-group-flush p-lg-0">
                            <li class="list-group-item"><p class="mb-0 mt-2 p-0" id="region">Blog # <%= entry.blogNumber %> , <a class="blogs-a-region" href="/<%= entry.region %>"><%= entry.region %></a> , on <%= moment(entry.date).format(' MM-DD-YYYY ') %></p></li>
                            <li class="list-group-item m-0"><p class="font-italic m-0 p-0"><%= entry.location %></p></li>
                            <li class="list-group-item m-0 p-0"><h3 class="font-weight-bold m-0 p-0" id="entry-location"><%= entry.title %></li>
                            <li class="list-group-item m-0 p-0"><h3 class="font-weight-bold m-0 p-0" id="entry-environment"><%= entry.environment %></li>
                            
                            
                            <li class="list-group-item m-0"><p class=" mt-2 ml-2" id="blog-preview-condense" style="max-width: 400;"><%= entry.writeUp %></p></li>
                            <li class="list-group-item m-0"><a class="continue-reading-a" href="/blogs/<%=entry.slug%>">Continue Reading...</a></li>
                        </ul>       
                    </div>
            </div>
        </div>
    
        
    </section>
    
        <%}%>   
        <% }) %>
        
        
        
        <%- include('partials/navFooter') %>   
        <%- include('partials/publicFooter') %>



